{{header-nav}}
{{#load-more selector=".leaderboard-users-list div" action=(action "loadMore")}}
  <div class="leaderboard">
    <div class="leaderboard-users-list">
      {{#each model.users as |user index|}}
        {{leaderboard-card user=user index=index}}
      {{/each}}
    </div>
    {{conditional-loading-spinner condition=loading}}
  </div>
{{/load-more}}
