{{#load-more selector=".discourse-rewards-rewards-list div" action=(action "loadMore")}}
  <div class="rewards">
    <div class="rewards-header">
      <h3 class="rewards-heading">{{i18n "discourse_rewards.user_rewards.title"}}</h3>
    </div>
    <div class="discourse-rewards-rewards-list">
      {{#each model.userRewards as |user_reward|}}
        {{reward-card reward=user_reward.reward username=user_reward.user.username user_reward=user_reward grant=grant cancelReward=cancelReward}}
      {{/each}}
    </div>
    {{conditional-loading-spinner condition=loading}}
  </div>
{{/load-more}}
