{{#admin-nav}}
  {{nav-item route='adminRewards.index' label='admin.rewards.rewards.nav'}}
  {{nav-item route='adminRewards.grant' label='admin.rewards.user_rewards.nav'}}
  {{nav-item route='adminRewards.campaign' label='admin.rewards.campaign.nav'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>